zmodule magicmace
zmodule environment
zmodule input
zmodule utility
zmodule git
zmodule git-info
zmodule prompt-pwd
zmodule zdharma-continuum/fast-syntax-highlighting
zmodule pabloariasal/zfm
zmodule Aloxaf/fzf-tab
